<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<link rel="icon" th:href="@{/images/teamico.png}" type="image/x-icon" />
		<title>Forget Password</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap4.1.1.min.css" th:href="@{/css/bootstrap4.1.1.min.css}" />
	</head>
	<body>
		<div style="width: 50%; margin: auto;margin-top: 30px;">
			<h1 style="color: green;">Looking for your Email Address</h1><br/>
			<div id="emailsearch">
				<div class="input-group mb-3" >
					<input type="text" id="email" class="form-control" placeholder="Search your email" aria-label="search your email" aria-describedby="basic-addon2">
					<div class="input-group-append">
						<button class="input-group-text" id="basic-addon2">Search</button>
					</div>
				</div>
			</div>
			<div id="afterFindEmail" style="display: none;">
				<div class="alert alert-success">
					<strong id="smsg"></strong>
				</div>
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="ans" placeholder="Write your security answer" aria-label="Write your security " aria-describedby="Write your security ">
					<div class="input-group-append">
						<button class="input-group-text chkans" id="basic-addon2">Check Answer</button>
					</div>
				</div>
			</div>
			<div id="afterFindFail" style="display: none;">
				<div class="alert alert-danger">
					<strong id="fail">Dosn't find this email</strong>
				</div>
				<button class="btn btn-info again">Search again by email</button>
			</div>
			<br/>
			<div id="success" style="display: none;" class="alert alert-success">
				<strong>your email pass</strong>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/customJS/forgetpass.js}"></script>
	</body>
</html>